<a href="https://colab.research.google.com/github/7rohj/Kakaomap_open_api/blob/main/%EC%B9%B4%EC%B9%B4%EC%98%A4_API_%EC%82%AC%EC%9A%A9_%EB%85%B8%EC%84%A0%EB%B3%84_%EC%98%81%EC%97%85%EC%86%8C_%EC%9C%84%EA%B2%BD%EB%8F%84_%EC%B6%94%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import requests
import pprint
import json

In [2]:
import time

In [3]:
def addr_to_lat_lon(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={address}'.format(address=addr)
    headers = {"Authorization": "KakaoAK " + '470f388952a8853a5085484a16c64900'}
    result = json.loads(str(requests.get(url, headers=headers).text))
    match_first = result['documents'][0]['address']
    return float(match_first['x']), float(match_first['y'])

In [4]:
addr_to_lat_lon('인천광역시 계양구 경인고속도로 17')

(126.74866195932, 37.5250833675443)

In [6]:
df = pd.read_csv("노선별 영업소현황 (1).csv",encoding='cp949')

In [7]:
df.head(3)

        노선명  영업소                         주소  우편번호\n(5자리)
0       경인선   인천        인천광역시 계양구 경인고속도로 17        21077
1  수도권제1순환선   김포  경기도 김포시 김포대로 319번길 209-23        10133
2      서해안선  서서울      경기도 안산시 상록구 장하로 141-2        15208

In [9]:
rr = np.array(df['주소']) # 트래픽 제한 있어서 일단은 unique 한 값들만
rr_list = rr.tolist()

In [10]:
rr_list[:13]

['인천광역시 계양구 경인고속도로 17',
 '경기도 김포시 김포대로 319번길 209-23',
 '경기도 안산시 상록구 장하로 141-2',
 '경기도 시흥시 서해안로 1780번길94',
 '인천광역시 남동구 음실로 117번길 32',
 '경기도 시흥시 군자로335번길 36-29',
 '경기도 안산시 단원구 시흥대로 19-30',
 '경기도 안산시 오리골길 15-1',
 '경기도 군포시 영동고속도로 26',
 '경기도 군포시 영동고속도로 25',
 '경기도 의왕시 덕영대로 77',
 '경기도 수원시 장안구 영동고속도로 31',
 '경기도 수원시 영통구 영동고속도로 36']

In [12]:
ainlist = []
binlist = []
cinlist = []
for i in rr_list:
  try:
    ainlist.append(i)
    binlist.append(addr_to_lat_lon(i))
    print(addr_to_lat_lon(i))
  except Exception:
    pass
    print(i,'Sys Error💢💥💥 must check it out')
    cinlist.append(i)

(126.74866195932, 37.5250833675443)
(126.768386911897, 37.5922582937622)
(126.861987611142, 37.3549329059869)
(126.804339975122, 37.4515759576607)
(126.76491822467, 37.4328731529175)
(126.780780816794, 37.3587557916828)
(126.79236157386, 37.344858519977)
(126.842562878629, 37.349687822916)
(126.919890810943, 37.321915044262)
(126.939679818731, 37.3291220730176)
(126.959334579837, 37.3265279186254)
(126.987395882481, 37.325710240809)
(127.047060485516, 37.2981532262811)
(127.176382788735, 37.2849117868081)
(126.863855396246, 36.9941517922589)
(126.886811295646, 37.1213796718266)
(126.886766093425, 37.2441741072101)
(126.890475861089, 37.28182348668)
(126.925269384719, 37.050795890017)
(127.036041488023, 37.0229194092763)
(127.107924225147, 37.0391483612928)
(127.157720966474, 37.0381216188769)
(127.248361877885, 36.9766273676792)
(126.977807049882, 37.0329063923845)
(127.080501747781, 37.1434727498487)
(127.102732990127, 37.2222708633551)
(127.091822372346, 37.2175442734109)
(127.102423825241, 37.2668356330725)
(127.103522135175, 37.3652206349555)
(127.103420234418, 37.3963267741479)
(127.093370023677, 37.4088709479282)
(127.396718958358, 37.2787252226284)
(127.322111949942, 37.3552321552978)
(127.266316543832, 37.4460289107358)
(127.22003173102, 37.5165154208248)
(127.219160719773, 37.5291123122358)
(127.123194413519, 37.4355426733266)
경기도 구리시 서울외곽순환고속도로 26(토평동) Sys Error💢💥💥 must check it out
경기도 구리시 서울외곽순환고속도로 27 Sys Error💢💥💥 must check it out
(127.022309591856, 37.3932701093351)
(127.65034440152, 37.2530984968328)
(127.825982353008, 37.3134501378435)
(127.949924067143, 37.3991653580886)
(128.071008052582, 37.4497200532747)
(128.205839929159, 37.4967720445683)
(128.362812858962, 37.5608681134012)
(128.412359901319, 37.58729647719)
(128.490669780716, 37.6358080632657)
(128.56145125002, 37.6484918590366)
(128.695621806709, 37.6827431689704)
(127.923734498382, 37.4241126703321)
(127.970077304034, 37.5015190722241)
(127.855549133449, 37.6751976217701)
(127.77599026163, 37.8398073695214)
(127.211014755616, 37.5917494744502)
(127.241552914464, 37.5969277509389)
(127.311460485105, 37.6371083633037)
(127.365756422732, 37.6347543232003)
(127.491561871828, 37.6694303876618)
(127.626749742313, 37.7390408639182)
(127.726712882957, 37.7507208638989)
(127.782046635728, 37.7580640072326)
(127.959216593917, 37.7626109238038)
강원도 삼척시 근덕면 심반금계길 179 Sys Error💢💥💥 must check it out
(129.133969867511, 37.4453223922056)
(129.099536988025, 37.5124384466859)
(129.096242613635, 37.5823693774583)
(129.034532941409, 37.6158723207649)
(128.897227828972, 37.6966429726422)
강원도 강릉시 성산면 소목길 123-7 Sys Error💢💥💥 must check it out
(128.821308904884, 37.8358088195238)
(128.796602766125, 37.9179294048511)
(128.692139982262, 38.0294551901913)
강원도 양양군 곰밭길 175-32 Sys Error💢💥💥 must check it out
(128.580686750811, 38.1551235028317)
(128.51972952256, 38.2029779650205)
(128.132153839906, 37.785041591469)
(128.289753946677, 37.9224234734974)
(128.531902535752, 37.9906091920607)
(127.211371993755, 37.259517794987)
(127.295598875178, 37.2365169756842)
(127.36585838049, 37.2395022462832)
(127.49501453909, 37.2513488689017)
(127.592831218143, 37.2508434831224)
(127.585793308294, 37.301709804573)
(127.522121054872, 37.3736615251803)
(127.4402662079, 37.5177263261511)
(127.4177681738, 36.6478586177942)
(127.444292273233, 36.7103391693784)
(127.503914893704, 36.7692160129729)
(127.469828273702, 36.8701671024043)
(127.466515641824, 36.9813958833155)
(127.451033384847, 37.0877259447594)
(127.443130096926, 37.1817245502201)
(128.369727952797, 36.9195638395663)
(128.288976112755, 37.0209361491953)
(128.184502625021, 37.0749436994161)
(128.147274665603, 37.1335208672314)
(128.08753720514, 37.2342500542073)
(127.924592660531, 37.3240864152195)
(127.985350202525, 36.760272234136)
(127.924718036617, 36.8633254478375)
(127.839794748861, 36.9731173929415)
(127.796706979377, 37.0388786901098)
(127.665629156102, 37.1208098367771)
(127.504629804672, 36.5278080008493)
(127.608618298911, 36.4813786556507)
(127.722661692348, 36.4530877871971)
(127.790399850518, 36.4590371651281)
(127.958638691549, 36.444943438113)
(128.143111533028, 36.3717903524799)
(127.449848647749, 36.9407182111981)
(127.552559405242, 36.9511911521499)
(127.619832096982, 36.9857852764139)
(127.673165365392, 37.0067765536297)
충청북도 충주시 엄정면 평택제천고속도로 103-3 Sys Error💢💥💥 must check it out
(128.206821030589, 36.4222806652087)
(128.165024231738, 36.529545301931)
(128.162647916063, 36.5868691296378)
(128.114158620954, 36.7046891002991)
(127.379802416067, 36.6252841329439)
(127.231298927629, 36.7683068566934)
(127.165794404973, 36.8263753421014)
(127.1502695727, 36.9957189446697)
(127.183727705222, 36.8985477102001)
(127.423901589864, 36.5344117908087)
(127.421498840502, 36.4391138157989)
(127.448427620044, 36.3626823362038)
(127.328565250462, 36.3642808200818)
(127.38005863093, 36.4152843308799)
(127.90197850067, 36.2230878703511)
(127.829814083254, 36.2703244795554)
(127.6683215477, 36.2789499909221)
(127.568404208838, 36.3099627160355)
(127.468043409906, 36.3182368414154)
(127.323808190758, 36.2895720055733)
(127.376455518197, 36.2806945578377)
(126.562151122021, 36.5959705898322)
(126.556769994118, 36.7088923279988)
(126.569767920354, 36.8099093059955)
(126.702694549936, 36.8957314807626)
(126.785594923818, 36.9339164922286)
(126.65179472659, 36.8236492041713)
(126.701915335257, 36.7577062420256)
(126.779763504531, 36.6752785436698)
(126.862919382231, 36.5901816472831)
(126.970895815858, 36.5654424995258)
(127.0260124233, 36.4967180898017)
(127.127852267759, 36.4852522214381)
(127.190612075506, 36.4929177149899)
(127.295598427436, 36.4228849968666)
(126.774539408997, 36.0530926652302)
(126.795569117105, 36.2377486662184)
(126.853957075551, 36.2945040690462)
(126.942665539529, 36.3785194696498)
(127.053923290596, 36.4588854584708)
(126.806335555555, 35.506924756382)
전라북도 정읍시 벗꽃로 164-57 Sys Error💢💥💥 must check it out
(126.927507030128, 35.6639714017563)
(126.986802491551, 35.7386377500255)
(127.002937906254, 35.7788678887344)
(127.03817720953, 35.8256240097695)
(127.060005943959, 35.8773895458782)
(127.081096270434, 35.9230108866614)
(126.671001599356, 35.4372927987124)
(126.688887664524, 35.5109130178096)
(126.70256287968, 35.5985100147878)
(126.773678464805, 35.7269996522227)
(126.842084645677, 35.8312962849234)
(126.828889669874, 35.9452628311294)
(127.648896863984, 35.8425491233376)
(127.651822221721, 35.977151577066)
(127.525871068053, 36.1051947579031)
(127.480708989836, 36.1970298725673)
대전광역시 동구 금산로 479 Sys Error💢💥💥 must check it out
(127.110647522534, 35.9896821013341)
(127.132903964106, 36.1237847855973)
(127.276521767955, 36.2533864612652)
(127.152090084805, 35.8949017332829)
(127.238671403837, 35.8593520399997)
(127.438551774536, 35.7695097604807)
(127.587470261884, 35.7129404430134)
(127.186102701692, 35.8472227841452)
(127.216535156077, 35.7555401716255)
(126.790396256724, 36.0028064353639)
(126.688748001832, 36.0957699701574)
(126.605641664348, 36.1680650898283)
(126.565448055865, 36.2410024256824)
(126.569888459322, 36.331844822293)
(126.593391715558, 36.4984713669528)
(127.068372668004, 35.2975176762078)
전라남도 담양군 창평면 호남고속도로 65 Sys Error💢💥💥 must check it out
(126.938707017184, 35.208418501156)
(126.808723396374, 35.2523736050729)
(126.790535988425, 35.28377804676)
(126.801094421581, 35.4313317809913)
(126.893360570116, 35.2566194644921)
(126.759014923859, 35.3442351950538)
(126.676954845567, 35.4039001539225)
(127.225495042089, 35.2274244802629)
(127.116539362979, 35.2609702277062)
(127.517262170122, 34.9838400918909)
(127.598531514122, 34.9696158604296)
(127.658813414348, 34.9595656778293)
(127.712291183045, 34.9815365169778)
(127.745000081637, 34.9756715724145)
(127.482436579604, 35.0005820745828)
(127.375823788866, 35.015666970306)
(127.266057480233, 35.0656019326778)
(127.249359390839, 35.1261703745783)
(126.435203902909, 35.015221248465)
(126.542949872468, 35.0549488810435)
전라남도 나주시 문평면 무안광주고속도로20 Sys Error💢💥💥 must check it out
전라남도 나주시 노안면 무안광주고속도로31 Sys Error💢💥💥 must check it out
(126.735656109127, 35.1140442306155)
(126.754375301304, 35.1437062184898)
전라남도 무안군 일로읍 서해안고속도로 6 Sys Error💢💥💥 must check it out
(126.485823693311, 34.8629706292122)
(126.497377394631, 35.0082944174037)
(126.486183236974, 35.0969063532649)
(126.554417127762, 35.3035374911585)
(127.310934201605, 35.6302543497691)
(127.324477207681, 35.5539855127275)
(127.340327802623, 35.3648246926133)
(127.419551349955, 35.2549815618979)
(127.459142769353, 35.1521540794442)
(127.55310138284, 34.9603476447801)
(127.32134828655, 35.4367026708984)
(126.570385499623, 34.7378499944292)
(126.714984728077, 34.6934886711894)
(126.904232112732, 34.7027889476876)
(127.102943447857, 34.8122100428083)
(127.300528579072, 34.8371833919016)
(127.343580897533, 34.8258884121855)
(127.452179465955, 34.8835705864028)
(127.485390198044, 34.8983217450491)
(127.136460838571, 35.3671836324391)
(127.398693045096, 35.4273409557058)
전라북도 남원시 산동면 대구광주고속도로 67 Sys Error💢💥💥 must check it out
(127.590236043073, 35.4829390820309)
(128.429493840942, 35.9786430450521)
(128.371717098714, 36.0725522490938)
(128.360258708605, 36.1135595305976)
(128.093822684862, 36.1308873659083)
(128.004312130541, 36.1984434976868)
(128.451356398113, 35.9532348895998)
(128.175725327978, 36.1399098966598)
(129.190543536073, 35.8105888496866)
(129.082903076737, 35.8407950334967)
경상북도 영천시 영천IC로 171 Sys Error💢💥💥 must check it out
(128.792772364211, 35.8748032827616)
(128.584449887099, 35.9110887674564)
(128.539340469783, 35.9345067513961)
(128.514652049318, 36.0484515945387)
(128.535465212839, 36.0916677807444)
(128.56313945468, 36.2004045474407)
(128.577391261284, 36.2882625423049)
(128.48041705886, 35.797377762086)
(128.525247282871, 35.8843241041756)
(128.52145718753, 35.8320023067372)
(128.654198163615, 35.9092452770358)
(128.82955767995, 35.9658094056406)
(128.922495148821, 36.0299645373553)
(129.222437237597, 36.0674664760054)
(129.298471764891, 36.0468371614904)
(127.751026818154, 35.5294673973859)
(127.928576504186, 35.6792269540699)
(128.023363291302, 35.7045419599542)
(128.174231263221, 35.7119623179667)
(128.253703798874, 35.6972307010701)
(128.364936014181, 35.7530075753566)
(128.626008841318, 36.4760608156753)
(128.621477954446, 36.588784029626)
(128.538661553923, 36.6686796206377)
(128.573712982997, 36.7719135178355)
(128.528277721129, 36.8494520994155)
(128.268482812452, 36.2374340706218)
(128.327022504452, 35.8390722400068)
(128.248922998642, 35.9159717969427)
(128.270826092949, 36.0613234643731)
(128.292510969944, 36.3778651260832)
(128.413574533332, 36.4037118524698)
(128.678183662817, 36.414507583959)
(128.891550660791, 36.440653271858)
(129.02873122826, 36.4527523337645)
(129.122311858367, 36.4973285048834)
(129.364833082661, 36.3812916943378)
(129.20561132468, 35.216627838355)
(129.227578234295, 35.2774567450534)
(129.241560026916, 35.3284558743646)
(129.262083971374, 35.4184909360344)
(129.288208890669, 35.4790764866065)
(129.245331944331, 35.516394539068)
(129.24927471136, 35.5572315326905)
(129.205721129586, 35.1995966133232)
(129.110619902132, 35.2800404943247)
(129.154183890615, 35.2871787454485)
경상남도 김해시 골드루트로66번길 160 Sys Error💢💥💥 must check it out
(128.899810603239, 35.2239238895428)
(128.941126697731, 35.2219876394957)
(128.984405823143, 35.2555038513765)
(129.015024764768, 35.308260586055)
(129.028201764916, 35.3239157353119)
(128.761211859712, 35.301329496396)
(128.893695464499, 35.3051382448078)
(128.811751414801, 35.295188399758)
(128.605745994243, 35.2593965122382)
(128.478932863746, 35.2711718133621)
(128.702363139534, 35.2835204066903)
(128.759054231119, 35.2672153934691)
(128.811446785201, 35.1987402267204)
(128.894567866457, 35.1682331183913)
(128.872268184244, 35.1717584563777)
(128.60864512244, 35.2928104939923)
(127.813238660135, 34.999002343881)
(127.904368241831, 35.0388197684165)
(127.963304287739, 35.0542196895708)
(128.040818400054, 35.0890683644257)
경상남도 사천시 축동면 사천대로 2189  Sys Error💢💥💥 must check it out
(128.122133111136, 35.1589924925989)
(128.157671475273, 35.1745592025837)
(128.22476400029, 35.1894021729639)
(128.267245714557, 35.2284097412628)
(128.319902204521, 35.2834697805368)
(128.340712770286, 35.2941116769203)
(128.393126882364, 35.2914623071414)
(127.680092221322, 35.6661572033992)
(127.768653442622, 35.5904291556503)
(127.829508410813, 35.4851903919763)
(127.864786820581, 35.4241297242048)
(127.95460089651, 35.2931138451006)
(128.045149880763, 35.1852165969713)
(129.275453188404, 35.6196106801704)
(129.314512547769, 35.7389301769636)
(129.435285936791, 35.7780980719654)
(129.39480021476, 35.9241075804196)
(128.514394390746, 35.2565295300552)
(128.476976320027, 35.764874470789)
(128.438561858113, 35.6711523534082)
(128.47840831409, 35.540836354553)
(128.523521126682, 35.4512690571276)
(128.486902972421, 35.3976250520072)
(128.509204030647, 35.3229993070787)
(128.512540238767, 35.2802438368852)
(128.193751860481, 35.0883152371707)
(128.345595370647, 35.0069996087383)
(128.3804406295, 34.9685608194272)
(128.406831565413, 34.8944292382472)
(128.433256992699, 34.8693730476211)
(129.10559132929, 35.2785366622292)
(129.100381353576, 35.2858197942808)
(129.048471138808, 35.377006760286)
(129.095241793136, 35.5026412647199)
(129.124524076116, 35.5562561578937)
(129.193147514999, 35.7100039105552)
(129.006935138311, 35.5237124384284)

In [13]:
cinlist # 고속도로 주소는 다시검색

['경기도 구리시 서울외곽순환고속도로 26(토평동)',
 '경기도 구리시 서울외곽순환고속도로 27',
 '강원도 삼척시 근덕면 심반금계길 179',
 '강원도 강릉시 성산면 소목길 123-7',
 '강원도 양양군 곰밭길 175-32',
 '충청북도 충주시 엄정면 평택제천고속도로 103-3',
 '전라북도 정읍시 벗꽃로 164-57',
 '대전광역시 동구 금산로 479',
 '전라남도 담양군 창평면 호남고속도로 65',
 '전라남도 나주시 문평면 무안광주고속도로20',
 '전라남도 나주시 노안면 무안광주고속도로31',
 '전라남도 무안군 일로읍 서해안고속도로 6',
 '전라북도 남원시 산동면 대구광주고속도로 67',
 '경상북도 영천시 영천IC로 171',
 '경상남도 김해시 골드루트로66번길 160',
 '경상남도 사천시 축동면 사천대로 2189 ']

In [ ]:
## ainlist 에서 cinlist 빼줘도 될듯

In [ ]:
ainlist.remove('경기도 구리시 서울외곽순환고속도로 26(토평동)')

In [26]:
ainlist.remove('충청북도 충주시 엄정면 평택제천고속도로 103-3')

In [24]:
ainlist.remove('경기도 구리시 서울외곽순환고속도로 27')
ainlist.remove('강원도 삼척시 근덕면 심반금계길 179')
ainlist.remove('강원도 강릉시 성산면 소목길 123-7')
ainlist.remove('강원도 양양군 곰밭길 175-32')
ainlist.remove('대전광역시 동구 금산로 479')
ainlist.remove('전라북도 정읍시 벗꽃로 164-57')
ainlist.remove('전라남도 담양군 창평면 호남고속도로 65')
ainlist.remove('전라남도 나주시 문평면 무안광주고속도로20')
ainlist.remove('전라남도 나주시 노안면 무안광주고속도로31')
ainlist.remove('전라남도 무안군 일로읍 서해안고속도로 6')
ainlist.remove('전라북도 남원시 산동면 대구광주고속도로 67')
ainlist.remove('경상북도 영천시 영천IC로 171')
ainlist.remove('경상남도 김해시 골드루트로66번길 160')
ainlist.remove('경상남도 사천시 축동면 사천대로 2189 ')

In [27]:
stnEnd = pd.DataFrame(ainlist,binlist,columns=[0])

In [28]:
stnEnd = stnEnd.reset_index(drop=False)
stnEnd = stnEnd.rename(columns={'index':'Xcode,Ycode',0:'name'})

In [29]:
stnEnd

                              Xcode,Ycode                       name
0     (126.74866195932, 37.5250833675443)        인천광역시 계양구 경인고속도로 17
1    (126.768386911897, 37.5922582937622)  경기도 김포시 김포대로 319번길 209-23
2    (126.861987611142, 37.3549329059869)      경기도 안산시 상록구 장하로 141-2
3    (126.804339975122, 37.4515759576607)      경기도 시흥시 서해안로 1780번길94
4     (126.76491822467, 37.4328731529175)     인천광역시 남동구 음실로 117번길 32
..                                    ...                        ...
335   (129.048471138808, 35.377006760286)     경상남도 양산시 상북면 와곡2길 12-1
336  (129.095241793136, 35.5026412647199)      울산광역시 울주군 삼남면 반구대로 80
337  (129.124524076116, 35.5562561578937)     울산광역시 울주군 삼남면 반구대로 760
338  (129.193147514999, 35.7100039105552)  울산광역시 울주군 두서면 활천내와로 30-25
339  (129.006935138311, 35.5237124384284)       경상남도 양산시 원동면 배내로 915

[340 rows x 2 columns]

cinlist 나중에 따로..

In [31]:
stnEnd2 = pd.DataFrame(cinlist,columns=[0])
stnEnd2 = stnEnd2.reset_index(drop=True)
stnEnd2 = stnEnd2.rename(columns={0:'name'})
stnEnd2

                           name
0    경기도 구리시 서울외곽순환고속도로 26(토평동)
1         경기도 구리시 서울외곽순환고속도로 27
2         강원도 삼척시 근덕면 심반금계길 179
3         강원도 강릉시 성산면 소목길 123-7
4            강원도 양양군 곰밭길 175-32
5   충청북도 충주시 엄정면 평택제천고속도로 103-3
6           전라북도 정읍시 벗꽃로 164-57
7              대전광역시 동구 금산로 479
8        전라남도 담양군 창평면 호남고속도로 65
9       전라남도 나주시 문평면 무안광주고속도로20
10      전라남도 나주시 노안면 무안광주고속도로31
11       전라남도 무안군 일로읍 서해안고속도로 6
12     전라북도 남원시 산동면 대구광주고속도로 67
13           경상북도 영천시 영천IC로 171
14       경상남도 김해시 골드루트로66번길 160
15      경상남도 사천시 축동면 사천대로 2189

오잉 휴게소인지 알았는데 찾아보니 도로공사 영업소 주소 csv 파일이였다. ..!

In [33]:
stnEnd.to_csv('dorogongsa.csv')

In [34]:
stnEnd2.to_csv('dorogongsa2.csv')